:root { 
--black_900_3d:#0000003d; 
--deep_purple_900:#211ebf; 
--red_600:#e33629; 
--blue_A400:#1877f2; 
--pink_900:#60003a; 
--deep_purple_400:#8640cd; 
--blue_A200:#618dff; 
--purple_900_01:#570374; 
--green_600:#319f43; 
--amber_A400:#f8bd00; 
--white_A700_99:#ffffff99; 
--pink_900_01:#74032c; 
--black_900:#0e0e0e; 
--purple_900:#530060; 
--gray_400_33:#bfbfbf33; 
--purple_A200:#e847c5; 
--pink_400:#cd407b; 
--gray_900_02:#0a1b2f; 
--gray_800:#4c4c4c; 
--gray_900:#2c0a2f; 
--gray_900_01:#0d0a2f; 
--gray_700_7f:#6161617f; 
--indigo_400:#587dbd; 
--black_900_99:#00000099; 
--black_900_33:#00000033; 
--indigo_A700:#2d4cee; 
--indigo_900_01:#030f74; 
--indigo_900:#190060; 
--white_A700:#ffffff; 
--gray_700_23:#61616123; 
}